{% extends 'base/base.html' %}
{% include 'base/header.html' %}
{% load static %}

{% block content %}

    <section class="ftco-section contact-section bg-light">
      <div class="container">
        <div class="row block-9">
          <div class="col-md-6 order-md-last d-flex">
            <form class="bg-white p-5 contact-form" action="{% url 'signin' %}" method="post">
              {% csrf_token %}
              {% block user_form %}
              
              <div class="form-group">
                {{ form.username }}
              </div>
              <div class="form-group">
                {{ form.password }}
              </div>
              <div class="form-group">
                Don't have any account? Create one <a href="{% url 'signup' %}">here</a>.
                <input type="submit" value="Sign In" class="btn btn-primary py-3 px-5">
              </div>

              {% endblock %}
            </form>
          </div>
          <div class="col-md-6 d-flex">
          	<div id="map" class="bg-white"></div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}