<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <!-- header files -->
  {% include 'base/header.html' %}
  <!-- header files -->
  <body class="goto-here">

		<!-- header and nav start-->
    {% include 'base/navbar.html' %}
    <!-- END nav -->

    {% block content %}

    {% endblock %}

    <!-- footer -->
    {% include 'base/footer.html' %}
    <!-- footer -->



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <!-- js files -->
  {% include 'base/js.html' %}
  <!-- js files -->

  </body>
</html>
